if firstName
  p hello, #{firstName}

.widget
  ul
    li
      a
        span.cusines American
    li
      a
        span.cusines French
    li
      a
        span.cusines Vegeterian
    li
      a
        span.cusines Italian            

